/* Aula inicial :D */
/* Cores*/
/* lilás #D3ADFF*/
/* creme #FFE2BA*/
/* azul #A1A9FF*/
/* amarelo #FFFE87*/ 
/* aqua #94D5FF*/
/* Soft Reset*/
* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body {
  //background-color:#D3ADFF;
  background-image: url(bg-azul.gif);
  font-family: 'Crimson Text', serif;
  background-size:auto 100vh;
  font-size:10px;
  height:100vh;
}

@media (min-width:400px) {
  body{
    font-size:14px;
  }
}

@media (min-width:600px) {
  body{
    font-size:18px;
  }
}
header{
  height:50vh;
  display:flex;
  justify-content: center;
  align-items: center;
}
.menu{
  //background-color:white;
  position: fixed;
  width:100vw;
  top:0;
}
.menu li{
  list-style:none;
}
.menu ul{
  display:flex; /* Organizar menu */
  /* justify-content:space-between; */
  justify-content:space-around;
}
.menu a{
  display:block;
  padding:10px 20px;
}
a{
  color:#FFE2BA;
  text-decoration:none;
}
a:hover{
  text-decoration:underline;
}

.site-subtitle,
.site-title{
  color:#FFFE87;
  text-align:center;
  font-family: 'Kaushan Script', cursive;
  font-size:2em;
}
.site-subtitle{
  font-family: 'Audiowide', cursive;
  font-size:1em;
  line-height: 1.8em;
}
.portfolio{
  padding:2em;
  text-align: center;
}
.portfolio h2{
  font-family: 'Audiowide', cursive;
  margin-bottom: 1.5em;
}

.portfolio .grid{
  display:grid;
  gap:1em;
  align-content:center;
  justify-content: space-around;
} 
@media(min-width:280px){
  .portfolio .grid{
    grid-template-columns:130px 130px;
  } 
} 
@media(min-width:1000px){
  .portfolio .grid{
    grid-template-columns:repeat(4,130px);
    justify-content: space-around;
  } 
} 
.img-portfolio{
  width: 128px;
  height: 128px;
  object-fit: contain;
}

.img-portfolio:hover{
  width: 145px;
  height: 145px;
  object-fit: contain;
}

.contato{
  padding:2em;
  text-align: center;
}
.contato h2{
  font-family: 'Audiowide', cursive;
  margin-bottom: 1.5em;
}

.contato .grid{
  display:grid;
  gap:1em;
  align-content:center;
  justify-content: space-around;
} 
@media(min-width:280px){
  .contato .grid{
    grid-template-columns:75px 75px;
  } 
} 
@media(min-width:280px){
  .contato .grid{
    grid-template-columns:75px 75px 75px;
  } 
} 
@media(min-width:600px){
  .contato .grid{
    grid-template-columns:repeat(5,65px);
    justify-content: space-around;
  } 
} 
.img-contato{
  width: 64px;
  height: 64px;
  object-fit: contain;
}

.img-contato:hover{
  width: 80px;
  height: 80px;
  object-fit: contain;
}

