/* Aula inicial :D */
/* Cores*/
/* lilás #D3ADFF*/
/* creme #FFE2BA*/
/* azul #A1A9FF*/
/* amarelo #FFFE87*/ 
/* aqua #94D5FF*/
/* Soft Reset*/
* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body {
  //background-color:#D3ADFF;
  background-image: url(bg-azul.gif);
  font-family: 'Crimson Text', serif;
  background-size:auto 100vh;
  font-size:12px;
  color:#FFE2BA;
  height:100vh;
}

@media (min-width:400px) {
  body{
    font-size:14px;
  }
}

@media (min-width:600px) {
  body{
    font-size:18px;
  }
}

/* breakpoint */
@media (min-width: 1200px) {
  body {
    font-size: 20px;
  }
}

header{
  height:50vh;
  display:flex;
  justify-content: center;
  align-items: center;
}
.menu{
  //background-color:#FFE2BA;
  position: fixed;
  width:100vw;
  top:0;
  z-index: 1;
}

.menu ul{
  display: flex; /* Organizar menu */
  /* justify-content:space-between; */
  justify-content:space-around;
}

.menu li{
  list-style:none;
}

.menu a{
  display:block;
  padding:10px 20px;
  transition: color 1s;
}

.menu a:active,
.menu a:hover {
  //background-color:#D3ADFF;
  color: white;
}

a{
  color:#D3ADFF;
  text-decoration:none;
  transition: color 1s;
}

a:active,
a:hover{
  text-decoration:underline;
  
  color: white;
}

.titulo {
  transform: scale(0.2) translateY(50vh);
  opacity: 0;
  animation: 3s ease 1s animacaoTitulo forwards;
}

@keyframes animacaoTitulo {
  from {
    transform: scale(0.2) translateY(50vh);
    opacity: 0;
  }
  to {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}

.site-title{
  color:#FFFE87;
  text-align:center;
  font-family: 'Kaushan Script', cursive;
  font-size:3em;
}
.site-subtitle{
  color:#FFFE87;
  text-align:center;
  font-family: 'Audiowide', cursive;
  font-size:1em;
  line-height: 1.8em;
}
.sobre,
.contato,
.portfolio{
  padding:2em;
  text-align: center;
  //min-height:100vh;
}

@media (min-width:900px){
  .container{
    max-width:900px;
    margin-left: auto;
    margin-right: auto;
  }
}
.sobre h2,
.contato h2,
.portfolio h2{
  font-family: 'Audiowide', cursive;
  margin-bottom: 1.5em;
  font-size:2em;
}

.sobre p,
.disciplinas p{
  text-indent: 2em;
  margin-bottom: 1.4em;
  text-align: justify;
}
.sobre .avatar{
  float:right;
  }

.disciplinas .avatar{
    float:top;
    }
  
.disciplinas h2{
      font-family: 'Kaushan Script', cursive;
      margin-bottom: 1.5em;
      font-size:2em;
}
.img-symb{
      width: 240px;
      height: 240px;
}

.img-sobre{
  width: 240px;
  height: auto;
  clip-path: circle(41.7% at 50% 50%);
}



.portfolio .grid{
  display:grid;
  gap:1em;
  align-content:center;
  justify-content: space-around;
} 
@media(min-width:280px){
  .portfolio .grid{
    grid-template-columns:130px 130px;
  } 
} 
@media(min-width:1000px){
  .portfolio .grid{
    grid-template-columns:repeat(4,130px);
    justify-content: space-around;
  } 
} 
.portfolio figure,
.contato figure {
  text-align: center;
}

.img-portfolio{
  width: 128px;
  height: 128px;
  object-fit: contain;
  transition: transform 500ms;
}

.img-portfolio:hover{
  //width: 145px;
  //height: 145px;
  //object-fit: contain;
  transform: scale(1.2) rotate(-4deg);
}


/*.contato .grid{
  display:grid;
  gap:1em;
  align-content:center;
  justify-content: space-around;
} 
@media(min-width:280px){
  .contato .grid{
    grid-template-columns:75px 75px;
  } 
} 
@media(min-width:280px){
  .contato .grid{
    grid-template-columns:75px 75px 75px;
  } 
} 
@media(min-width:600px){
  .contato .grid{
    grid-template-columns:repeat(5,65px);
    justify-content: space-around;
  } 
} */
.contato .icons {
  text-align: center;
}

.contato a {
  font-size: 4em;
  transition: text-shadow 500ms;
}

.contato a:active,
.contato a:hover  {
  text-decoration: none;
  text-shadow: 0px 0px 15px rgba(255,255,255,.5);
}
